@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  div[aria-expanded="true"] {
    @apply border-transparent p-2;
  }

  div[aria-expanded="true"] div:first-child {
    @apply rotate-45 translate-y-[7px] bg-black;
  }

  div[aria-expanded="true"]:hover div:first-child {
    @apply bg-gray-900;
  }

  div[aria-expanded="true"] div:nth-child(2) {
    @apply opacity-0;
  }

  div[aria-expanded="true"] div:last-child {
    @apply -rotate-45 -translate-y-[7px] bg-black;
  }

  div[aria-expanded="true"]:hover div:last-child {
    @apply bg-gray-900;
  }

  .custom-shape-divider-bottom-1705503576 {
    position: absolute;
    bottom: -.1rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1705503576 svg {
    position: relative;
    display: block;
    width: calc(200% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1705503576 .shape-fill {
    fill: #FFFFFF;
}

  .custom-shape-divider-top-1705503214 {
    position: absolute;
    top: -.1rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1705503214 svg {
    position: relative;
    display: block;
    width: calc(200% + 1.3px);
    height: 100px;
}

.custom-shape-divider-top-1705503214 .shape-fill {
    fill: #FFFFFF;
}

  .btn-arrow::after {
    content: "";
    @apply inline-block w-2 h-2 -mb-px bg-contain bg-no-repeat -rotate-90;
    background-image: url("../images/arrow-gray.svg");
  }
}

@layer utilities {
  .font-custom {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
  }

  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInLeft {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-10%, 0, 0);
    transform: translate3d(-10%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
  }
  @keyframes fadeInLeft {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-10%, 0, 0);
    transform: translate3d(-10%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
  } 
}